.buttons {
  display: flex;
  margin-top: 3rem;
}

.button {
  margin-right: 1rem;
}

.manageLab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30rem);
  flex-direction: column;
}
