.accountForm form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 32.7rem;
}

.field,
.accountForm select {
  position: relative;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: #808080;
}

.field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.2rem;
}

.field input,
.accountForm select {
  width: 100%;
  padding: 1.8rem 0 1.8rem 1.2rem;
  box-sizing: border-box;
  border: 0.1rem solid #ebebeb;
  border-radius: 0.3rem;
  color: #808080;
}

.accountForm input[type="submit"] {
  cursor: pointer;
  background-color: #da1b51;
  color: #fff;
}

.field input:focus + .field label {
  background: red;
  padding: 100rem;
}
