.card {
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 37.3rem;
  border-radius: 1.5rem;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.16);
  padding: 2rem 1rem;
  margin: 1rem;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagsContainer {
  padding: 1rem 2rem;
}

.title {
  position: relative;
  padding: 0 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.withBorder {
  border: 0.4rem solid #da1b51;
}
