.filter {
  display: flex;
  margin: 5rem 0 3.2rem;
}

.option {
  position: relative;
  font-size: 3rem;
  margin-right: 4.3rem;
  color: grey;
  text-transform: uppercase;
  cursor: pointer;
}

.option:first-child:after {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 3.5rem;
  margin: 0 2rem;
  background: #000;
  opacity: 0.5;
}

.active {
  color: black;
  font-weight: 600;
}

@media all and (max-width: 540px) {
  .option {
    font-size: 1.8rem;
  }

  .br {
    height: 2.2rem;
  }
}
