.swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  position: absolute;
  min-height: 38rem;
  margin-bottom: 4rem;
}

.cardContainer {
  position: absolute;
  transition: transform 0.3s, opacity 0.5s;
}

.accepted.exit {
  transform: translateX(15rem) rotate(7deg);
  opacity: 0;
}

.rejected.exit {
  transform: translateX(-15rem) rotate(-7deg);
  opacity: 0;
}

.buttons {
  display: flex;
  width: 50rem;
  justify-content: space-between;
}

.button {
  width: 6.7rem;
  height: 6.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5.9px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.backLayer {
  background: #f3f3f3;
  transform: rotate(3.98deg) translate3d(-0.4rem, -1.7rem, 0);
  opacity: 0.7;
}

.middleLayer {
  background: #f3f3f3;
  transform: rotate(4.86deg) translate(0rem, -1rem);
}

.frontLayer {
  background: #fcfcfc;
  transform: rotate(7.43deg);
}

@media all and (max-width: 568px) {
  .content {
    position: relative;
  }
  .swiper {
    flex-direction: column;
  }

  .buttons {
    bottom: 0;
    width: 15rem;
  }
}
